.about {
    background-color: $background-gray;
    padding: 6rem 0 4rem;

    ul {
        padding-left: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .about-gallery {
        margin-top: 5rem;

        h3 {
            margin-bottom: 2rem;
        }

        img {
            cursor: pointer;
            transition: $transition;
            border-radius: .5rem;

            &:hover {
                opacity: .6;
            }
        }
    }
}