.footer {
    background-color: $background-color-dark;
    padding: 1.5rem 1rem 2rem;

    @media (max-width: $bp-medium) {
        padding: 2rem 0 3rem;
        text-align: center;

        .a-right {
            text-align: center;
            padding-top: .5rem;
        }
    }

    p {
        margin-bottom: 0;
        color: #fff;
        font-size: 1.2rem;
        padding-bottom: 0;
    }

    a {
        color: #fff;
        text-decoration: underline;
    }
}