.header {

    padding-top: 1rem;
    padding-bottom: 1rem;

    .header-contact {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        align-items: center;

        li {
            margin-left: 3rem;
            font-size: 1.6rem;

        }
    }
}