.header {

    padding-top: 1rem;
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: $background-gray;
    border-bottom: 1px solid #fff;

    .header-logo {
        img {
            height: 3rem;
            width: auto;
            max-width: 100%;
        }
    }

    .header-contact {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        align-items: center;

        .header-contact-num {
            position: relative;
            padding-left: 2.4rem;

            svg {
                width: 2rem;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            color: $color-text;
            font-weight: bold;
        }

        li {
            margin-left: 3rem;
            font-size: 1.6rem;

            .btn {
                padding: 1.2rem 3rem;
            }

        }
    }
}