.hero {
    margin-bottom: 5rem;
    padding: 8rem 0 5rem;

    @media (max-width: $bp-medium) {
        margin-bottom: 0;
        padding: 2rem 0 5rem;
    }

    .hero-text {
        padding-right: 4rem;

        @media (max-width: $bp-medium) {
            padding-right: 0;
        }
    }

    .hero-img {
        img {
            height: 50rem;
            width: 100%;
            object-fit: cover;
            border-radius: .5rem;

            @media (max-width: $bp-medium) {
                height: 27rem;
                margin-bottom: 2rem;
            }
        }

    }
}