$font-primary: "DM Sans", sans-serif;

// Colors
$color-primary: #1f6de2;
$color-text: #222;

$background-gray: #f1f5f6;
$background-color: #2f2f2f;


// RESPONSIVE BREAKPOINTS
$bp-largest: 87.5em;  // 1400px
$bp-large: 65em;  // 1040px
$bp-medium: 50em;   // 800px
$bp-small: 37.5em;  // 600px

$bp-medium-min: 48,875em; // 782px;

$transition: all .4s;